# N8N
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
N8N_RUNNERS_ENABLED=true
N8N_ENCRYPTION_KEY=<some-cryptic-string>
N8N_VERSION=1.80.2
NODE_FUNCTION_ALLOW_EXTERNAL=cheerio

# URLS
AP_AGING_REPORT_URL='https://<account>.app.netsuite.com/app/reporting/reportrunner.nl?cr=<reportId>'
NS_LOGIN_URL='https://system.netsuite.com/pages/customerlogin.jsp'

# LOGIN CREDENTIALS
EMAIL='<loginEmail>'
PASSWORD='loginPassword'

# FILTERS
REPORT_AS_OF_DATE=<MM/DD/YYYY>
SUBSIDIARY=<subsidiaryId>
ACCOUNTING_BOOK=<accountingBookId>

# FILTER IDS (these vary from account to account, inspect your report in the UI to grab these)
REPORT_AS_OF_DATE_FILTER_ID=crit_1_to
SUBSIDIARY_FILTER_ID=hddn_crit_4_1
ACCOUNTING_BOOK_FILTER_ID=hddn_accounting_book_id_3